version: 2
updates:
  - package-ecosystem: "pip"
    directory: "pipeline/"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "web/"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns:
          - "*"
